@-webkit-keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

.loader {
  height: 30px;
  background: linear-gradient(to right, #74b4741f 20%, #7ba37c2e 50%, #b4bead1f 80%);
  background-size: 500px 100px;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 30%;
  display: block;
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 8px;
}
